.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 35%;
    transform: translateX(-50%);
  }

  .search-bar {
    display: flex;
    align-items: center;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: box-shadow 0.3s;
    border: 1px solid #007bff;
  }

  .search-bar::placeholder {
    color: #120f0f; /* Adjust placeholder color as needed */
  }

  .search-bar:focus {
    outline: none; /* Remove the default focus outline */
    border: 1px solid black; /* Change border color when focused */
    box-shadow: 0 0 10px rgba(10, 11, 12, 0.5); /* Add a more pronounced box-shadow when focused */
  }

  .search-input {
    padding: 10px;
    border: none;
    border-radius: 25px 0 0 25px; /* Rounded corners on the left */
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 450px;
  }

  .search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 0 25px 25px 0; /* Rounded corners on the right */
    background-color: #007bff; /* Set your button color */
    color: #fff; /* Set your button text color */
    cursor: pointer;
  }

  .search-container
  {
    height: 100px;
    justify-content: center;
  }
