@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
   --bg-black-900: #f2f2fc;
   --bg-black-100: #fdf9ff;
   --bg-black-50:   #e8dfec;
   --text-black-900: #302e4d;
   --text-black-700: #504e70;
}

body
{
   line-height : 1.5;
   font-size : 16px;
   font-family: 'Poppins' sans-serif;
}

.about-section p{
    color: #201f1f;
    font-weight: bold;
}

.about-section a{
    color: #201f1f;
    font-weight: bold;
}

.about-section .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
    
}

.about-section .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about-section .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about-section .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}

.about-section .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: orange;
}

.about-section .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orange;
}

.about-section.timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about-section .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}